/*body {
    background-color: #b4d1e1;
}*/
.mainContainer{
    width: 98%;
    min-height: 700px;
    height: fit-content;
    display: flex;
    align-content: space-between;
    background-color: #b4d1e1;
    box-shadow: 0px 0px 0px;
}
    .leftContainer{
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
    }
    .centerContainer {
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
    }
    .rightContainer {
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
        top: 315px;
}

div{
    position: relative;
    padding: 7px;
    height: fit-content;
    width: 95%;
    margin: 15px auto;
    box-shadow: 0px 2px 4px #cccaca; 
    background-color: white;
    border-radius: 5px;
}

button {
    display: block;
    margin: 7px;
    background-color: white;
    border-width: 0px;
    box-shadow: 0px 2px 2px #cccaca;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
.topLinksSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px auto;
    width: 35%;
    height: 30px;
    background-color: #b4d1e1;
    box-shadow: 0px 0px 0px;
}
.topLinksSection li {
    display: inline;
}
.shortcutsContainer {
    width: 50%;
}
.actionArrow {
    display: none;
    width: 70%;
}
.chooseActionSection, .typeOfTaskSection, 
.negativeActionSection {
    /* visibility: hidden; */
    display: none;
}
.externalSoftwareLinksSection {
    display: none;
}


.recycleBinContainer, .somedayTasksContainer, .referenceMaterialContainer {
    display: none;
}

.projectsContainer {
    display: none;
    position: relative;
    top: 97px; /*this is to force the projects container to appear
    wher it must, to the right of the button that calls it*/
}

.todosContainer {
    display: none;
}