body {
    background-color: #b4d1e1;
}
.mainContainer{
    width: 98%;
    display: flex;
    align-content: space-between;
    background-color: #b4d1e1;
    box-shadow: 0px 0px 0px;
}
    .leftContainer{
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
    }
    .centerContainer {
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
    }
    .rightContainer {
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
}

div{
    position: relative;
    padding: 7px;
    height: fit-content;
    width: 95%;
    margin: 15px auto;
    box-shadow: 0px 2px 4px #cccaca; 
    background-color: white;
    border-radius: 5px;
}

button {
    display: block;
    margin: 7px;
    background-color: white;
    border-width: 0px;
    box-shadow: 0px 2px 2px #cccaca;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.chooseActionDiv, .TypeOfTaskSection, 
.negativeActionSection, .externalSoftwareLinksSection {
    display: none;
}

.recycleBinContainer, .somedayTasksContainer, .referenceMaterialContainer {
    display: none;
}

.projectsContainer {
    display: none;
}

.todosContainer {
    display: none;
}

.chooseActionDiv {
    background-color: cadetblue;
}
.negativeActionSection {
    background-color: aliceblue;
}