/*body {
    background-color: #b4d1e1;
}*/
                                                /* GENERAL/COMMON STYLES */
div{ /* general div styles. meant to apply to container divs bc they should behave homogeneoulsy */
    position: relative;
    padding: 7px;
    height: fit-content;
    width: 95%;
    margin: 15px auto;
    box-shadow: 0px 2px 4px #cccaca; 
    background-color: white;
    border-radius: 5px;
}

button { /* general common button style, any specific style must be applied to the button at hand */
    display: block;
    margin: 7px;
    background-color: white;
    border-width: 0px;
    box-shadow: 0px 3px 4px #cccaca;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
}
                                                /* STYLE FOR THE BIG 4 CONTANER DIVS */
.mainContainer{
    width: 98%;
    min-height: 700px;
    height: fit-content;
    display: flex;
    align-content: space-between;
    background-color: #b4d1e1;
    box-shadow: 0px 0px 0px;
}
    .leftContainer{
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
    }
    .centerContainer {
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
    }
    .rightContainer {
        background-color: #b4d1e1;
        box-shadow: 0px 0px 0px;
        top: 315px;
}
                                                /* SECTION AND ITEM SPECIFIC STYLES */
.topLinksSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px auto;
    width: 35%;
    height: 30px;
    background-color: #b4d1e1;
    box-shadow: 0px 0px 0px;
}
    .topLinksSection li {
        display: inline;
    }
.shortcutsContainer {
    width: 50%;
}
#taskName {
    border-radius: 10px;
    box-shadow: 0px 3px 4px #cccaca;
    border-width: 0px;
    padding: 6px;
    width: 55%;
}
.chooseActionSection, .typeOfTaskSection, 
.negativeActionSection, .externalSoftwareLinksSection,
.recycleBinContainer, .somedayTasksContainer, .referenceMaterialContainer, 
.todosContainer, .projectsContainer {
    /*all of this sections share the method for hiding and appearing, hence, they have this common property*/
    display: none;
}

.projectsContainer {
    position: relative;
    top: 97px; /*this is to force the projects container to appear
    where it must, to the right of the button that calls it*/
    max-height: 340px;
}